<!DOCTYPE html>
<html lang="fr">

<!-- Insertion du fragment head -->
<!--<div th:replace="fragments/head :: head"></div>-->
<!-- Insertion autre syntaxe-->
<div th:replace="~{fragments/head :: head}"></div>
<body>
<!-- Insertion du fragment header -->
<div th:replace="~{fragments/header :: header}"></div>
<div class="error">
    <div class="error-text">
        <h1>Erreur!</h1>
        <p>
            Oups! Il semble que vous ayez pris la mauvaise scène.
        </p>
        <p>
            Pour retourner à la réalité cinématographique, <a href="/static">cliquez ici</a>.
        </p>
    </div>

</div>

</body>
</html>