<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org/">

<div th:replace="~{fragments/head :: head}"></div>


<body>
<!-- Insertion du fragment header -->
<div th:replace="~{fragments/header :: header}"></div>

<h2>Les films</h2>
<!--Cartes des different films-->
<!-- pour chaque film afficher le genre anne titre réalisateur et un bouton detail pour la vue détaillée-->
<!--Boucle pour afficher les films récupéré du controller-->
<div class="listFilms">
    <div class="cardFilm multi" th:each="film : ${films}">
        <h3 th:text="${film.titre}"> un titre </h3>
        <p th:text="'Genre : ' +${film.genre.libelle}"></p>
        <p th:text="'Année : ' +${film.annee}"></p>
        <p th:text="'Réalisateur : ' +${film.realisateursString}"></p>
        <a th:href="@{'/films/detail?id=' + ${film.id}}">Detail</a>
        <img th:src="@{'https://picsum.photos/500/500?random=' + ${film.id}}" alt="Film Image">
    </div>
</div>
</body>
</html>