<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org/">

<div th:replace="~{fragments/head :: head}"></div>


<body>

<div th:replace="~{fragments/header :: header}"></div>

<h2>Les films</h2>

<div class="listFilms">
    <div class="cardFilm multi" th:each="film : ${films}">
        <h3 th:text="${film.titre}"> un titre </h3>
        <p th:text="'Genre : ' +${film.genre.libelle}"></p>
        <p th:text="'Année : ' +${film.annee}"></p>
        <p th:text="'Réalisateur : ' +${film.realisateursString}"></p>
        <a th:href="@{'/films/detail?id=' + ${film.id}}">Detail</a>
        <a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{'/add-avis?film=' + ${film.id}}">
            <!--  Lien vers les l'ajout d'un avis accèssible uniquement aux personnes connectée      -->
            Déposer un avis
        </a>
        <img th:src="@{'https://picsum.photos/500/500?random=' + ${film.id}}" alt="Film Image">
    </div>
</div>
</body>
</html>